html {
  background-color: #E7FFD3;
  font-size: 16px;
  /* <!-- font-style: italic; USE FOR TITLES --> */
}
header h1 {
  text-align: left;
  display: flex;
  padding-left: 30px;
  padding-right: auto;
}

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}
header {
  max-width: 960px;
  display: flex;
  align-items: center;
  padding: 0px;
  /*border: 3px solid green;*/
  background-color: rgb(166, 243, 191);
}
header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header nav ul li a {
  color: red;
  text-decoration: none;
  display: block;
  padding: .95rem;
  list-style-type: none;
}
div.firstdiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 250px;
  grid-gap: 4px;
}

header nav li a:hover {
  color: rgb(18, 16, 173);
  border-bottom: blue;
}
.banner-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 960px;
  height: auto;
  
}
.action {
  grid-column: 1;
  grid-row: 1;
  width: 200px;
  height: 100px;
  background-color: white;
  opacity: .7;
  text-align: center;
  margin-left: 2em;
  margin-top: 4em;
  padding-top: .5em;
  padding-bottom: 2em;
  color: rgb(0, 8, 122)
}
.action button {
  padding: .5em;
  background-color: #4F4742;
  color:white;
}
h1 {
  font-family: "Playfair Display", Times, serif;
  color: rgb(107, 109, 110);
  font-weight: bolder;
}

h2 {
  font-family: "Playfair Display", Times, serif;
  color: #4F4742;
  font-style: italic;
  text-align: center;
}
img.one {
  height: auto;
  width: 60px;
  margin-left: 20px;
  padding: 2px;
  border-radius: 12px;
}
img.two {
  grid-column: 1 / 3;
  grid-row: 1;
  height: auto;
  width: 960px;
  border: 0;
  margin: 0;
  padding: 0;
}
img.three {
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

img.four {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  width: auto;
  
}
img.three, img.four {
  border: 1px solid #A1C49B;
  padding: 10px;
  box-shadow: 5px 5px 5px #4F4742;
  background-color: rgb(166, 243, 191);
}
.first {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.second {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.third {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
p.first, p.second, p.third {
  margin: auto;
  height: 70%;
  font-family: "Playfair Display", Times, serif;
  text-align: left;
  font-size: 20px;
}
p.second {
  padding-left: 2em;
}
p.third {
  height: 30%;
}
/*head,
header,
main,
footer {
  text-align: center;
  margin: auto;
  max-width: 960px;
  border: 6px #A1C49B;
  padding: 20px
}*/


nav {
  text-align: left
}
footer {
  display: grid;
  grid-template-columns: 20px 1fr 1fr;
  background-color: rgb(166, 243, 191);
  text-align: center;
  
}
.pics {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 5.6em;
  margin-top: 7.9em;

}
.feet {
  grid-column-start: 2;
  grid-column-end: 3;
  color: rgb(107, 109, 110);
  font-weight: bolder;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 70%;
  padding: 2em;
  margin-left: 4em;
}
.social {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 6%;
  margin-left: 8em;
  width: 50%;
  padding-right: 1em;
}
a {
  text-decoration: none;
}
#one, #two, #three {
  padding: 6px;
}
@media screen and (max-width: 550px) {
  .body {
    display: block;
  }
}