html {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

img.first {
    background-color: #7B1A15;
    max-height: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
}

img.banner {
    max-width: 960px;
}

header div a.one {
    max-width: 960px;
    display: block;
    color: #000000;
    font-size: 60px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid #000000;
}

header {
    max-width: 960px;
    text-decoration: none;
    border-bottom: none;
    border-bottom: 5px solid #000000;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 190px;
    text-decoration: none;
}

footer nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 220px;
    text-decoration: none;
}

header nav ul li,  li:link, li:visited {
    padding-left: 40px;
    color: #000000;
    font-size: 20px;
    text-decoration: none!important;
}

header div a {
    text-decoration: none;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}
a.active {
    color: #000000;
}

h2,
.m1,
.m2,
.m3 {
    color: #7B1A15;
}

.grid {
    display: block;
    border-style: solid;
    border-color: #000000;
    border-width: 40px 4px;
    border-bottom: fade;
    max-width: 300px;
    border-radius: 2.2em;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 30px;
    margin: 10% auto 10% auto;
    justify-content: center;
    background-color: rgba(223, 223, 223, 0.6);
}

main div form ul {
    list-style-type: none;
}

label {
    font-weight: bolder;
    display: inline-block;
    width: 100px;
    text-align: right;
}

input {
    display: inline-block;
}

/*I want to have the radio buttons make the matching text bolder when selected*/


#str,
#end,
#mach,
#budg {
    margin-left: 108px;
}

button {
    background: none!important;
    background-color: white;
    border: none;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.calcbutton {
    display: block;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 110px; 
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 1em;
    width: 120px;
    text-align: center;
    background-color: white;
}

select {
    margin-left: 5px;
}

input [type="button"] {
    border: none;
    outline: none;
}

button:hover {
    text-decoration: underline; 
}

.gridmaster {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 10%;
    margin-bottom: 9em; 
    row-gap: 10em;
    column-gap: 4em;
    font-size: 1.6em;
    margin-left: 1em;
    margin-right: 1em;
}

.gridmaster2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    grid-gap: 2em;
    margin-top: 9em;
    margin-bottom: 9em;
}

.gridmaster30,
.gridmaster31,
.gridmaster32 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 300px);
    margin-top: 9em;
    margin-bottom: 9em;
}


.grid1,
.egrid1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.grid3,
.egrid3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.grid5,
.egrid5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.grid6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.egrid1,
.egrid3,
.egrid5 {
    font-size: 1.6em;
    align-self: center;
    padding-left: 56px;
}
.arms,
.legs,
.trunk {
    font-size: 6em;
    align-self: center;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

main div div ul {
    list-style-type: none;
}


.m1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.m2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.m3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.m1,
.m2,
.m3 {
    font-size: 2.5em;
    font-weight: bold;
    align-self: center;
    justify-self: right;
    padding-right: 1.2em;
}

body header div img.first {
    overflow: hidden;
}

.img1 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.img2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.img3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
} 

.img1,
.img2,
.img3 {
    align-self: center;
}

footer nav {
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
}

footer nav ul li{
    padding-left: 40px;
}

img.mediaicon {
    max-height: 50px;
}

button.dropbtn, .dropbtn2 {
    background-color: #4caf50;
    color: #000000;
    padding: 0px;
    border: none;
}


footer nav ul li div.dropdown, .dropdown2 {
    position: relative;
    display: inline-block;
}
 
footer nav ul li div div.dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 50px;
     box-shadow: 0px 8px 16 px 0px #ccc;
     z-index: 1;
     padding-top: 10px;
 }

.test {
 background-color: #bedbed;
 color:#777777;
}
 footer nav ul li div div.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 272px;
    box-shadow: 0px 8px 16px 0px #ccc;
    z-index: 1;
}

footer nav ul li div div.dropdown-content a:hover, .dropdown-content2 a:hover {
    background-color: #ddd;
}

footer nav ul li div.dropdown:hover .dropdown-content, .dropdown2:hover .dropdown-content2{
    display: flex;
}

footer nav ul li div div.dropdown-content1 a {
    text-decoration: none;
    padding: 20px;
}

footer nav ul li div div.dropdown-content2 a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}
